html {
  background-color: #fff;
}

.menu {
  margin-left: 890px;
}

.banner {
  padding-top: 10px;
  background: url("../images/banner.png") 70% center / cover no-repeat;
  height: 420px;
}

.banner-content {
  display: inline-block;
  color: white;
  width: 100%;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, .3);
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  position: absolute;
  background-color: #0cbc9f;
  color: #fff;
  padding: .5em .75em;
}

.nav a {
  text-decoration: none;
  color: #0cbc9f;
  margin: 0;
  border-radius: 2em;
}

.nav a:hover {
  background-color: #fff;
  color: #fff;
  display: inline-block;
}

.hover-box {
  color: #fff;
}

.hover-box-caption {
  bottom: -4em;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
  text-shadow: 1px 1px 5px rgba(0, 0, 0, .9);
  transition: all .2s linear;
}

.hover-box:focus {
  z-index: 10;
}

.hover-box:hover .hover-box-caption {
  bottom: 0;
}

.hover-box-img {
  filter: grayscale(100%);
  transition: all .2s linear;
}

.hover-box:hover .hover-box-img {
  filter: grayscale(0);
  transform: scale(1.1);
}

.button {
  border: 1px solid #0cbc9f;
  font-family: "Encode Sans Expanded", sans-serif;
  padding: .7em 1.3em;
}

.button-small {
  border: 1px solid #0cbc9f;
  font-family: "Encode Sans Expanded", sans-serif;
  padding: .7em 1.2em;
}

.button-black {
  color: #fff;
  border-color: #0cbc9f;
}

.button-black:hover {
  background-color: #fff;
  color: #fff;
  transition: all .35s;
}

.button-white {
  color: #fff;
  border-color: #fff;
}

.button-white:hover {
  background-color: #fff;
  color: #0cbc9f;
  transition: all .35s;
}

.btn {
  background-color: #0cbc9f;
  color: black;
}

.btn-nav {
  background-color: black;
  color: #0cbc9f;
  padding: .2em 1.2em;
  border-radius: .5em;
}

p {
  font-family: "Encode Sans Expanded", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Archivo Black", sans-serif;
}

.contact {
  background-color: #ffe9e9;
}

.footer {
  padding-top: .9em;
}

.wrapper {
  text-align: center;
}

.adopt {
  background-color: #ffe9e9;
}

.pink {
  color: #ffe9e9;
  font-family: "Encode Sans Expanded", sans-serif;
}

.list {
  background-color: #ffe9e9;
}
