html {}

.button {
  border: 1px solid #347EA5;
  padding: .7em 1.3em;
  text-transform: uppercase;
}

.banner {
  background: url(../images/banner.png) 70% center / cover no-repeat;
  height: 425px;
}

.banner-content {
  width: 100%;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.3);
}
