html {
  font-family: 'Encode Sans Expanded', sans-serif;
  font-family: 'Archivo Black', sans-serif;
}

/*banner*/
.banner {
  background: url(../images/banner.png) 70% center / cover no-repeat;
  height: 425px;
}

.banner-content {
  width: 100%;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.3);
}

/*Navigation*/
.nav a {
  text-decoration: none;
  color: #0cbc9f;
  margin: 0;
  border-radius: 2em;
}

.nav a:hover {
  background-color: #0cbc9f;
  color: #fff;
  display: inline-block;
}

/*hover*/
.hover-box {
  color: #fff;
}

.hover-box-caption {
  bottom: -4em;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
  text-shadow: 1px 1px 5px rgba(0, 0, 0, .9);
  transition: all .2s linear;
}

.hover-box:focus {
  z-index: 10;
}

.hover-box:hover .hover-box-caption {
  bottom: 0;
}

.hover-box-img {
  filter: grayscale(100%);
  transition: all .2s linear;
}

.hover-box:hover .hover-box-img {
  filter: grayscale(0);
  transform: scale(1.1);
}

/* buttons */
.button {
  border: 1px solid #347EA5;
  font-family: 'Montserrat', sans-serif;
  padding: .7em 1.3em;
  text-transform: uppercase;
}

.button-small {
  border: 1px solid #347EA5;
  font-family: 'Montserrat', sans-serif;
  padding: .7em 1.2em;
  text-transform: uppercase;
}

.button-black {
  color: #fff;
  border-color: #0cbc9f;
}

.button-black:hover {
  background-color: #0cbc9f;
  color: #fff;
  transition: all .35s;
}

.button-white {
  color: #fff;
  border-color: #fff;
}

.button-white:hover {
  background-color: #fff;
  color: #0cbc9f;
  transition: all .35s;
}

.btn {
  background-color: #ff004e;
  color: white;
}

.button {
  border: 1px solid #347EA5;
  padding: .7em 1.3em;
  text-transform: uppercase;
}

/*body*/
p {
  font-family: "Encode Sans Expanded", sans-serif;
}

h1,h2,h3,h4,h5 {
  font-family: "Archivo Black", sans-serif;
}
